.wrapper {
display: flex;
height: 70vh;
flex-direction: column;
justify-content: center;
align-items: center;
.mainList {
    list-style: circle inside;
    padding: 10px;

}
h1 {
    margin-bottom: 2%;
}
}
