/* :root {
  --color-background: #222831;
  --color-background2: #393E46;
  --color-background3: #182b40;
  --color-highlight: #00ADB5;
  --color-text: #ffffff;
}


body {
  background-color: var(--color-background)
}

.App {
  text-align: center;
}


.navbar {
  background-color: var(--color-background2);
  width: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  height: 6%;
  
  }
  
  .navbar a, .navbar p, Link {
  color: var(--color-text);
  text-decoration: none;
  display: inline-block;
    padding: 15px;
  margin-right: 15px;
  cursor: pointer;
  }

  .navbar a:hover, .navbar p:hover { 
    color: var(--color-highlight);
    cursor: pointer;
  }


  .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 6%;
  color: var(--color-text)
    }



h3, h4 {
  cursor: default;
  text-align: center;
  color: var(--color-text);
}




input {
  width: 50%;
  height: 30px;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: var(--color-background3);
  cursor: pointer;
  border: none;
  color: white;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  height: 30px;
  
}

button:hover {
  background-color: var(--color-highlight)
}

 */
